/*  page4  */
#page4 {
padding: 20px;
font-family: 'Segoe UI', sans-serif;
flex-direction: column;
gap: 24px;
background-color: #f5f7fa;
height: 100%;
box-sizing: border-box;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
}



.header h2 {
margin: 0;
font-size: 24px;
color: #333;
}

.header button {
padding: 10px 20px;
font-size: 14px;
background-color: #3498db;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
}
.header button:hover {
background-color: #2980b9;
}

.form-section {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.05);
display: flex;
flex-direction: column;
gap: 16px;
}

.row {
display: flex;
align-items: center;
gap: 10px;
}

.row label {
width: 150px;
font-weight: bold;
color: #333;
}

.row input, .row select {
flex: 1;
padding: 8px 12px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 6px;
background-color: white;
}


.result-section4.hidden{
    display: none;
}

.result-section4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 16px;
  flex-wrap: wrap; /* 小屏自动换行 */
}

.result-text4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
  flex: 1;
}

.link-and-button-2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  word-break: break-word;
}

#resultText4 {
  display: inline-block;
  max-width: 100%;
  padding: 6px 10px;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #ccc;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all;
  flex: 1;
}

#copyResult4 {
  padding: 6px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#copyResult4:hover {
  background-color: #2980b9;
}

#result-image4 {
  width: 160px;
  height: 160px;
}